body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}

#iconone {
  background-image: url("../images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-size: 5%;
  background-position-y: center;
}

#icontwo {
  background-image: url("../images/icon-person.svg");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-size: 5%;
  background-position-y: center;
}

.container {
  border: 2px solid black;
  width: 100vw;
  height: 100vh;
  background-color: #c5e4e7;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 5em;
}

.wrapper {
  background-color: white;
  width: 50em;
  height: 22em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12em;
  margin-left: 20%;
  margin-right: 10%;
  border-radius: 30px;
}

@media screen and (max-width: 400px) {
  .wrapper {
    height: 10em;
    display: inline-block;
  }
}

.leftcontent {
  font-size: 1em;
  width: 24em;
  height: 95%;
  margin: 1em;
  display: inline-block;
}

.leftcontent .billContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5em;
}

.leftcontent .billContent .billInput .firstFlex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 30px;
  width: 23em;
}

.leftcontent .billContent .billInput .firstFlex .key {
  margin-top: 0;
  width: 5em;
  height: 1.5em;
}

.leftcontent .billContent .billInput .firstFlex .one {
  width: 100%;
  height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 45%;
  margin-top: 4px;
  padding-top: 10px;
}

.leftcontent .billContent .billInput .iconone {
  margin-top: 0.2em;
  width: 23.5em;
  height: 2.3em;
}

.leftcontent .billContent .billInput .iconone #iconone {
  width: 95%;
  height: 100%;
  border-style: none;
  background-color: #bdd9db;
  margin-top: 5px;
  border-radius: 7px;
  font-size: xx-large;
  margin-left: 10px;
}

.leftcontent .billContent .billInput .error-message {
  color: #920d0d;
}

.leftcontent .tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2em;
  margin-top: 1em;
}

.leftcontent .buttons {
  height: 6.5em;
}

.leftcontent .buttons .five-fifteen {
  height: 2em;
  display: inline-block;
  margin: 10px;
}

.leftcontent .buttons .five-fifteen .arcyan {
  height: 3em;
  width: 8em;
  background-color: #00494d;
  color: white;
  margin-left: 10px;
}

.leftcontent .buttons .five-fifteen .arcyan:hover {
  cursor: pointer;
}

.leftcontent .buttons .secondFlex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.leftcontent .buttons .secondFlex .toFifty {
  height: 2em;
  display: inline-block;
  margin: 10px;
}

.leftcontent .buttons .secondFlex .toFifty .arcyan {
  height: 3em;
  width: 8em;
  background-color: #00494d;
  color: white;
  margin-left: 10px;
}

.leftcontent .buttons .secondFlex .toFifty .arcyan:hover {
  cursor: pointer;
}

.leftcontent .buttons .secondFlex .customInput {
  display: block;
  width: 7.2em;
  height: 2.8em;
}

.leftcontent .buttons .secondFlex .customInput .two {
  width: 100%;
  height: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 20%;
}

.leftcontent .buttons .secondFlex .customInput .two .error-message {
  color: #920d0d;
}

.leftcontent .buttons .secondFlex .customInput .customs {
  height: 2em;
}

.leftcontent .buttons .secondFlex .customInput .customs #customs {
  width: 85%;
  height: 100%;
  margin-left: 12px;
}

.leftcontent .people {
  height: 4em;
}

.leftcontent .people .thirdFlex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 2em;
  width: 24em;
}

.leftcontent .people .thirdFlex .noOfPeople {
  margin-top: 0;
  width: 10em;
  height: 1em;
}

.leftcontent .people .thirdFlex .three .error-message {
  width: 100%;
  height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 4px;
  padding-top: 10px;
  color: #920d0d;
}

.leftcontent .people .peopleInput #icontwo {
  width: 95%;
  height: 100%;
  border-style: none;
  background-color: #bdd9db;
  margin-top: 5px;
  border-radius: 7px;
  font-size: xx-large;
  margin-left: 10px;
}

.rightContent {
  float: top;
  float: right;
  width: 24em;
  background-color: #00494d;
  margin: 0.5em;
  border-radius: 30px;
}

.rightContent .Amounts {
  padding: 0.5em;
  color: white;
}

.rightContent .resetbutton {
  margin-top: 20%;
  background-color: #00494d;
}

.rightContent .resetbutton .reset {
  background-color: #bdd9db;
  margin-left: 5%;
  width: 90%;
  height: 3em;
  border-radius: 10px;
}

.rightContent .resetbutton .reset:hover {
  background-color: #51cbd6;
}

.rightContent .resetbutton .reset:hover:hover {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */